{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    },
    "production": {
      "plugins": [
        "react-optimize"
      ]
    }
  }
}
